@define-color foreground #c4c7c6;
@define-color background #151f1e;
@define-color cursor #c4c7c6;

@define-color color0 #151f1e;
@define-color color1 #909F4F;
@define-color color2 #8FA263;
@define-color color3 #497486;
@define-color color4 #68939A;
@define-color color5 #6FB6BD;
@define-color color6 #99A99E;
@define-color color7 #c4c7c6;
@define-color color8 #5e7471;
@define-color color9 #909F4F;
@define-color color10 #8FA263;
@define-color color11 #497486;
@define-color color12 #68939A;
@define-color color13 #6FB6BD;
@define-color color14 #99A99E;
@define-color color15 #c4c7c6;
