@define-color foreground #c1c4c4;
@define-color background #081414;
@define-color cursor #c1c4c4;

@define-color color0 #081414;
@define-color color1 #464E58;
@define-color color2 #4D5966;
@define-color color3 #5D6774;
@define-color color4 #A26D60;
@define-color color5 #6D7985;
@define-color color6 #79858F;
@define-color color7 #c1c4c4;
@define-color color8 #586b6b;
@define-color color9 #464E58;
@define-color color10 #4D5966;
@define-color color11 #5D6774;
@define-color color12 #A26D60;
@define-color color13 #6D7985;
@define-color color14 #79858F;
@define-color color15 #c1c4c4;
