@define-color foreground #c3c5c7;
@define-color background #0f1822;
@define-color cursor #c3c5c7;

@define-color color0 #0f1822;
@define-color color1 #465C71;
@define-color color2 #365F83;
@define-color color3 #52708F;
@define-color color4 #5E7E9E;
@define-color color5 #6081A1;
@define-color color6 #698BAC;
@define-color color7 #c3c5c7;
@define-color color8 #5e6773;
@define-color color9 #465C71;
@define-color color10 #365F83;
@define-color color11 #52708F;
@define-color color12 #5E7E9E;
@define-color color13 #6081A1;
@define-color color14 #698BAC;
@define-color color15 #c3c5c7;
